<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>ChetSerenade</title>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
	<!-- <% if (process.env.NODE_ENV==='production' ) { %>
    <script>
      var _hmt = _hmt || [];
    </script>
    <% } %> -->
</head>

<body>
	<div id="app"></div>
	<script type="module" src="/src/main.ts"></script>
	<script type="text/javascript" src="/Disqus/iDisqus.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
	<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
	<script type="text/javascript">
		var Ip = returnCitySN['cip']
		var cityname = returnCitySN['cname']
		localStorage.setItem('Ip', Ip)
		localStorage.setItem('cityname', cityname)
	</script>
	<script>
		window.onload = function () {
			document.addEventListener("touchstart", function (event) {
				if (event.touches.length > 1) {
					event.preventDefault();
				}
			});
			var lastTouchEnd = 0;
			document.addEventListener(
				"touchend",
				function (event) {
					var now = new Date().getTime();
					if (now - lastTouchEnd <= 300) {
						event.preventDefault();
					}
					lastTouchEnd = now;
				},
				false
			);
			document.addEventListener("gesturestart", function (event) {
				event.preventDefault();
			});
		};
	</script>
	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?54818920b21956b8d2d7e3e951398987";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script>
		//禁止鼠标右击
		document.oncontextmenu = function () {
			event.returnValue = false;
		};
		let userAgent = navigator.userAgent;
		//禁用控制台
		let ConsoleManager = {
			init: function () {
				let self = this;
				let x = document.createElement("div");
				let isOpening = false,
					isOpened = false;
				Object.defineProperty(x, "id", {
					get: function () {
						if (!isOpening) {
							self.onOpen();
							isOpening = true;
						}
						isOpened = true;
						return true;
					}
				});
				setInterval(function () {
					isOpened = false;
					console.info(x);
					console.clear();
					if (!isOpened && isOpening) {
						self.onClose();
						isOpening = false;
					}
				}, 200);
			}
		};
		ConsoleManager.init();
	</script>
</body>

</html>
