.moblie-type-archive {
  .media-relative {
    position: relative;
  }

  .text-overlay {
    z-index: 9;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    backdrop-filter: blur(14px) brightness(60%);
  }

  .medias {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
  }

  .medias .media {
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    margin-top: 1.3rem;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--module-bg);
    transition: background-color .25s;
  }


  .medias .media .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #0000004d;
    color: #fffc;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s, visibility .1s;
  }


  .medias .media .mask .icon {
    font-size: 3em;
    transform: scale(1.2);
    transition: transform .25s;
  }

  .iconfont {
    font-size: 1em !important;
  }

  .iconfont {
    font-family: iconfont !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .medias .media .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.05);
    transition: transform .25s;
  }

  .template-height {
    height: 9rem;
  }
}
