@import '../commonly.scss';

// list 
.article-list .list-item {
  margin-bottom: 1.236rem;
}

.article-list {
  margin: 10px 70px 10px 0px;
}

.middle-content {
  padding: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.article-item>.item-content {
  display: flex;
  height: 11rem;
  padding: 0.618rem;
  overflow: hidden;
  // background-color: rgba(255, 255, 255, .6);
  background-color: rgba(68, 68, 68, 0.6);
  transition: background-color .1s;
}

.article-item>.item-content>.item-thumb {
  flex-shrink: $zero;
  width: 210px;
  height: 9.764rem;
  margin-right: 1.236rem;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

a {
  color: var(--link-color);
  touch-action: manipulation;
}

.article-item>.item-content>.item-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9.764rem;
  padding-right: 0.309rem;
}


.article-item>.item-content>.item-thumb .image {
  height: 100%;
  min-width: 100%;
  width: 189px;
  max-width: 189px;
  border-color: transparent;
  background-color: var(--module-bg-darker-2);
  background-size: cover;
  background-position: center;
  opacity: 1;
  transform: translate(0);
  transition: transform .25s, opacity .25s;
}

.article-item .item-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 120%;
  background-position: 0% 50%;
  opacity: .06;
}

.article-item .item-background:hover {
  opacity: 0;
  transition: opacity .7s;
}


.article-item>.item-content>.item-body .title {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 0.618rem;
  font-weight: 700;
}


h5 {
  font-size: 14px;
  font-weight: 500;
  margin: 1em $zero;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

.article-item>.item-content>.item-body .description {
  margin: $zero;
  line-height: 1.8em;
  text-overflow: ellipsis;
  font-size: 13.58px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.article-item>.item-content>.item-body>.item-meta {
  height: 2em;
  line-height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
  font-size: 12.432px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
  color: var(--text-secondary);
}

// .article-item>.item-content>.item-body>.item-meta>.views {
//   width: 5em;
// }

.article-item>.item-content>.item-body>.item-meta>.likes,
.article-item>.item-content>.item-body>.item-meta>.comments {
  width: 3em;
}

.article-item>.item-content>.item-body>.item-meta>.likes,
.article-item>.item-content>.item-body>.item-meta>.comments {
  width: 3em;
}

.iconfont {
  font-size: 1em;
}

.iconfont {
  font-size: 1em !important;
  margin-right: 3px !important;
}

.article-item>.item-content:hover {
  background-color: var(--module-bg-opaque);
}
