.articles {
  background: linear-gradient(-50deg, hsl(var(--pf)) 0%, hsl(var(--pf)) 20%, transparent 10%, transparent 21%, hsl(var(--b3)) 0%);
  border-radius: 5px;

  & .article-load {
    width: 100%;
    height: 3rem;
    position: relative;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;

    &.background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    & .background .left {
      flex: 1;
      margin-left: -1rem;
      margin-right: 1rem;
      background: var(--module-bg);
      transform: skew(-20deg);
    }

    & .background .left,
    & .background .right {
      height: 100%;
      border-radius: 2px;
      transition: background-color .1s;
    }

    & .background .right {
      width: 12rem;
      margin-right: -1rem;
      background: var(--module-bg-opaque);
      transform: skew(-20deg);
    }

    & .background .left,
    & .background .right {
      height: 100%;
      border-radius: 2px;
      transition: background-color .1s;
    }


    & .content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & .content .left {
      font-weight: 700;
      color: var(--text-disabled);
      margin-left: 2em;
    }

    & .content .left,
    & .content .right {
      transition: color .1s;
    }


    & .content .right {
      width: 10rem;
      color: var(--text-disabled);
    }

    & .content .left,
    & .content .right {
      transition: color .1s;
    }

    & .content .right .iconfont {
      margin-left: 1rem;
    }
  }
}

.webfont.zh.bolder {
  font-family: webfont-bolder;
}

.webfont.zh {
  font-weight: 400;
  margin-top: -1px;
}

.iconfont {
  font-size: 1em;
}
